@using DevTalles.Models.ViewModels;
@model SubCategoriaCreacionViewModel

@{
    ViewData["Title"] = "Crear";
    
}

<form method="post" asp-action="Crear">
    <div class="border p-3 ">

        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="form-group row">
            <h2 class="text-info pl-3">Nueva subCategoria</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="subCategoria.Nombre" class="form-label">Nombre</label>
                    <input asp-for="subCategoria.Nombre" class="form-control" />
                    <span asp-validation-for="subCategoria.Nombre" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="subCategoria.CategoriaId" class="form-label">Nombre</label>
                    <select asp-for="subCategoria.CategoriaId" class="form-select" asp-items="Model.DropdownCategoria">
                        <option disabled selected>--Seleccione una categoria</option>
                    </select>
                    <span asp-validation-for="subCategoria.CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-primary">Crear Nuevo</button>
                <a asp-controller="SubCategoria" asp-action="Index" class="btn btn-success">Regresar</a>
            </div>

        </div>


    </div>

</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}