@using DevTalles.Data;
@using DevTalles.Utilities;
@inject IHttpContextAccessor httpAccesor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DevTalles</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/sweetalert2/sweetalert2.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DevTalles.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/material.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;700&amp;family=Open+Sans&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />

</head>
<body>



    <header class="header container-fluid ">
        <div class="d-flex justify-content-between align-items-center p-3 shadow-sm">

            <a asp-action="Index" asp-controller="Home" class="fs-3 fw-bold m-0 me-4 nav-link"> <span class="text-success">D</span>evtalles</a>

            <ul class="navbar-nav ">
                @if (User.IsInRole(WC.AdminRole))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administrar Contenido
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-area="" asp-controller="Categoria" asp-action="index">Categoria</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="SubCategoria" asp-action="index">SubCategorias</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Cursos" asp-action="index">Cursos</a></li>
                            <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Crear Nuevo Usuario</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Ordenes" asp-action="Index">Orden</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="venta" asp-action="Index">Venta</a></li>

                        </ul>
                    </li>
                   
                }
            </ul>

            <form class="flex-grow-1 mx-3">
                <input type="search"
                       class="form-control bg-light"
                       placeholder="Busca cualquier cosa" />
            </form>


            @if (User.IsInRole(WC.ClienteRole))
            {

                <nav class="d-flex">
                    @*comprueba si hay una sesión de CarroCompras en la solicitud. Si hay una sesión, se muestra
                el número de artículos en el carrito de la compra. Si no hay una sesión, se muestra un enlace de carrito de compras con 0 artículos.*@

                    @if (httpAccesor.HttpContext.Session.Get<List<CarroCompra>>(@WC.VariableSession) != null)
                    {

                        <a asp-action="Index" asp-controller="Carro" class="text-dark nav-link">
                            @{
                                var count = httpAccesor.HttpContext.Session.Get<List<CarroCompra>>(@WC.VariableSession).Count();
                            }
                            <i class="fas fa-shopping-cart "></i>  (@count)
                        </a>
                    }
                    else
                    {
                        <a class="text-dark nav-link" href="#">

                            <i class="fas fa-shopping-cart"></i> &nbsp; (0)
                        </a>
                    }

                    <a class="text-dark nav-link" asp-action="UsuarioCurso" asp-controller="Home">

                        Mis Cursos
                    </a>

                </nav>
            }


            <nav class="mx-3">
                <partial name="_LoginPartial" />
            </nav>
        </div>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>




    <footer class="bg-dark py-5">
        <div class="container-xl">
            <div class="row align-items-start">
                <nav class="col-md-4 d-flex">
                    
                    <a  href="https://www.udemy.com/teaching/?ref=teach_footer" class="text-light text-decoration-none nav-link">Enseña en U</a>
                    <a href="https://www.udemy.com/mobile/" class="text-light text-decoration-none nav-link">Consigue la App</a>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-outline-light">Inicio</a>
             
                </nav>

         

            
            </div>
        </div>

        <div class="container-xl mt-5 d-flex justify-content-between align-items-center">
            <p class="text-light fs-3 fw-bold"> <span class="text-success">D</span>evtalles</p>

            <p class="text-light">&copy; Devtalles 2023.</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    
    

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/dist/ej2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
