@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="d-flex">
        <a id="manage" class="nav-link text-outline-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-user"></i> </a>

        <form id="logoutForm" class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-outline-dark border-0"><i class="fa-solid fa-right-from-bracket"></i></button>
        </form>
    </div>
  
   
}
else
{


    <a id="login" asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-dark">Iniciar Sesión</a>
    <a id="register" asp-area="Identity" asp-page="/Account/Register" class="btn btn-dark text-white">Regístrate</a>
 
        
   
   
   
   
}

