@using DevTalles.Data;
@{
    var img = "persona3.png";
}
<section class="descuentos container-xl mb-4">
    <div class="row justify-content-around align-items-lg-end bg-light">
        <div class="col-lg-4 shadow bg-white texto-descuentos">
            <div class="p-3">
                <h2>Disfruta de los mejores Cursos de Programación</h2>
                <p class="descripcion">Cursos desde 10 USD$. Selecciona el que mas te Guste en cualquier curso.</p>

                <input placeholder="¿Qué quieres aprender?"
                       type="search"
                       class="form-control bg-light buscar" />
            </div>
        </div>

        <div class="col-lg-5">
            <img class="img-fluid" src="@WC.RutaImagen@img" alt="imagen persona udemy">
        </div>
    </div>
</section>



